{% extends "users/base.html" %}

{% block head_content %}
	<title>Star Wars Registro</title>
{% endblock %}


{% block container %}
	

	<h1 class="text-center">Registro</h1>

	<form method="POST" action="{% url "signup" %}">
		{% csrf_token %}
	
	<div class="form-group">
		{{ form.as_p }}
	</div>
		
		
		<button class="btn btn-primary btn-block mt-5" type="submit">Registrarse</button>

		<p class="mt-4">Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesion aquí</a></p>
	</form>
{% endblock %}